.container{width: 1200px;margin: auto}
.header{background-image: url(images/Desert.jpg);height: 600px;background-size: cover; background-repeat: no-repeat;}
.header{padding: 30px}
.header .home{overflow: hidden}

.home h1 {text-transform: uppercase; color: white; float: left}
.header .home ul {list-style: none; color: white; float: right; overflow: hidden}

  .header .home ul li{float: left; padding: 0px 20px; overflow: hidden; cursor: pointer}
  
.startup h1{color: snow;
    font-weight: bold;
    font-size: 60px;
    width: 40%;
    margin-top: -100px;
    text-align: center;
    padding-top: 181px;}
.startup button{
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;background-color: blueviolet;width: 300px;outline: 0} 
.count h3{
    margin-left: 567px;
    color: blue;margin-top: 70px;
    font-size: 30px;}
    
.count p{
        padding-top: 15px;
    font-size: 30px;
    color: black;
    margin-left: 454px;}
.items{overflow: auto; text-decoration: none;}


.web{float: left ;
    width: 30% ;
    margin-right: 10px;
    overflow: auto;
    text-align: center;
    border: 30px;
    border: 1px solid whitesmoke;
    margin-bottom: 40px;
}


.us{
padding: 30px;
    color: white;
    background-color: black;
    height: 405px;
    width: 466px;margin-left: 737px;
    background-size: cover;line-height: 21px; padding-top: 25px;}

.us img{float: right;
    margin-right: 500px;
    margin-top: -383px;
    width: 800px;
    height: 458px;}
.us button{
    padding: 10px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 50px; 
    background-color: blueviolet;
    margin: 20px;outline: 0}
.work {background-color: white;}

.work h1{
    color: black;
    font-size: 30px;
    margin-left: 85px;
    padding-top: 400px;
    font-family: Arial;}
.job h1{text-align: center;padding-top: 30px;
    word-spacing: 7px;
    font-size: 32px;}
.job p{text-align: center;word-spacing: 5px;line-height: 25px;}


.work p{
    opacity: 0.5;margin-top: 17px;margin-left: 85px;
    padding-top: 400pxpx;
    line-height: 28px;
}
.work img{margin-left: 620px;
    margin-top: -287px;}
.work video{
    color: red;
}


.photos{overflow: auto; text-decoration: none;}
.picture img{width: 518px;padding-top: 60px;}

    
.picture{float: left ;
    width: 38% ;
    margin-right: 8px;
    overflow: auto;
    text-align: center;
    margin-left: 95px;
    margin-top: 30px;
    margin-bottom: -4px;}
    .scan{width: 24%;float: left;margin-left: 85px;overflow: hidden;margin-top: 10px;}
        
        .team h1{
    text-align: center;
    padding-top: 50px;}
    
.team p{
    
    text-align: center;
    padding-top: 12px;
    opacity: 0.5;
    word-spacing: 4px;
    line-height: 22px;
}
 
.man{
    float: left;
    width: 25%;
    overflow: auto;
    text-align: center;padding-top: 50px;}
.donce{background-image: url(images/p13.jpg);height: 400px;background-size: cover;padding: 30px;margin-top: 400px;}
.donce h1{color: white;text-align: center;margin-top: 56px;line-height: 40px;
    word-spacing: 3px;}

.get h1{text-align: center;
    word-spacing: 3px;
    font-size: 35px;
    padding-top: 30px;}

.get p{text-align: center;
    word-spacing: 3px;
    opacity: 0.5;line-height: 30px;}

    
.type{
   word-spacing: 80px;
    margin: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 196px;}

.type input{
    padding: 23px;
    border-radius: 37%;
    margin-top: 24px;
    width: 30%;outline: 0;}
.science{word-spacing: 80px;
    margin: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 196px;}
.science input{border-radius: 33%;
    padding: 29px;
    height: 14px;
    width: 802px; outline: 0;}

.messanger input{border-radius: 33%;
    padding: 29px;
    height: 182px;
    width: 802px;
    margin-left: 190px;
    outline: 0
}

.message button{

padding: 23px;
    color: white;
    margin-left: 390px;
    width: 400px;
    border-radius: 37%;
    color: white;
    background-color: blueviolet;margin-top: 35px;font-size: 20px;outline: 0}
    
.end{background-color: black;background-size: cover;height: 275px}
.end h1{color: white;margin-bottom: -37px; margin-left: 35px;
    padding-top: 17px;}


.end li{
    color: white;
    float: left;
    list-style: none;
    overflow: hidden;}

 .end ul li 
{float: left; padding: 0px 20px; overflow: hidden;
     cursor: pointer;
     margin-top: 0px;
    margin-left: 128px;}
.end ul li:hover{text-decoration: none;color: #fff;}

.end hr{margin-top: 200px;}
.end p{color: white;text-align: center;}   
.end p span{color: blueviolet;word-spacing: 10px}
